<p id="notice"><%= notice %></p>

<p>
	<strong>Word:</strong>
	<%= @keyword.word %>
</p>

<h2>Latest Twitts (<%=@keyword.tweets.count%>)</h2>
<ul>
	<% @keyword.tweets.each do |tweet| %>
		<li><img src= "<%=twitt.user_image_url %>" width="30"> <%= tweet.user_screen_name %>: <%= tweet.text %> </li>
	<% end %>
</ul>

<%= link_to 'Back', keywords_path %>